/* -------------------------- 

        #About the File

   -------------------------- */

/* 

        Author:                     Toby T. Castro, @tobytcastro
        Tools:                      Sublime Text 2, SASS
        Approaches:                 OOCSS, BEM
*/

/* ---------------------------

        #Imports & Variables

   --------------------------- */

/* Color Variables */
      /* Backgrounds */
      $colorBGbanner: #383634;
      $colorBGdark: #1A1A1A;
      $colorBGblack: #000000;
      $colorBGwhite: #FFFFFF;

      /* Accent Color */
      $colorAccent: #B6985A;

      /* Text */
      $colorWhite: #FFFFFF;
      $colorBlack: #000000;
      $colorTextSubtle: #E5E5E5;

      /* Other */
      $selection: #957A41;

/* -----------------------------

        #Base

   ---------------------------- */

* {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
            box-sizing:border-box;
  -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

::selection {
  background: $selection;
  color: $colorWhite;
}

::-moz-selection {
  background: $selection;
  color: $colorWhite;
}

img {
  width: 100%;
}

$headerText: "Quattrocento", Georgia, Times New Roman, serif;
$bodyText: "Fanwood Text", Times New Roman, Georgia, serif;

$baseFontSize: 16px;
$unit: 30px;

/* Breakpoints */

$one: 412px;
$two: 600px;
$three: 700px;
$four: 1000px;
$five: 1500px;


@import "vendor/normalize";
@import "modules/mixins";
@import "vendor/grids";

@import "partials/typography";
@import "partials/main";
