/* ------------------------- *\

    # Homepage #

\* ------------------------- */

section {
  padding: 70px 0;
}

header {
  padding: 0px 20px $unit;
  max-width: 1140px;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 3px solid #000000;
  border-radius: 999px;
  margin: -10px auto 77px;
}

.hero {
  padding: 35px 0 20px;
  background: #373634 url("../../images/hero.jpg");
  background-size: cover;
}

.container1 {
  margin: 0 20px;
  max-width: 1000px;
}

.container2 {
  margin: 0 20px;
  max-width: 872px;
}

.logo {
  text-align: center;
}

.site-logo, 
.company-name {
  display: block;
}

.for-real {
  width: 35px;
}

.company-name {
  padding: 10px;
}

.nav {
  text-align: center;
  padding: 8px 0;
}

.nav-button {
  padding: 0 10px;
}

.contact-text {
  padding: 80px 0px 4px;
}

.down-box {
  background: #B6985A;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  left: 51.5%;
  margin-left: -25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.down-arrow {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 10px;
}

.heading-line {
  width: 65px;

}

.specialty-box {
  width: 100%;
}

#diamond-1 {
  background: #000000 url("../../images/criminal-1x-small.jpg");
  background-size: cover;
  background-position: center center;
}

.diamond {
  display: block;
  position: relative;
  overflow: hidden;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);


  &:after {
    content: "";
    width: 210px;
    height: 210px;
    position: absolute;
    top: 80%;
    left: 60%;
    margin-left: -121px;
    margin-top: -150px;
    background: inherit;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  } 
}

.content {
    text-align: center;
    margin: 60px -5px 0px -5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}




