/* ------------------------- *\

    # Homepage #

\* ------------------------- */

section {
  padding: 45px 0 70px 0;
}

header {
  padding: 0px 20px $unit;
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 3px solid #000000;
  margin: -10px auto 46px;
}

#hero {
  padding: 35px 0 20px;
  background: #373634 url("../../images/hero-1x.jpg");
  background-size: cover;
  min-height: 619px;

  @include at-query(696px) {
    background: #373634 url("../../images/hero-1x-700.jpg");
    background-size: cover;
    background-position: center;
  }

  @include at-query(740px) {
    background-position: 0% 0%;
  }

  @include at-query ($four) {
    background: #373634 url("../../images/hero-1x.jpg");
    background-size: cover;
  }
}

.container1 {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1130px;
}

.special-container {
  margin: 0 auto;

  @include at-query($two) {
    max-width: 600px;
  }
}

.container2 {
  margin: 0 auto;
  max-width: 810px;
}

.container3 {
  margin: 0 auto;
  max-width: 855px;
}

.logo {
  text-align: center;

  @include at-query ($three) {
    text-align: left;
    padding-top: 2px;
  }
}

.site-logo, 
.company-name {
  display: block;

  @include at-query ($three) {
    display: inline-block;
  }
}

.for-real {
  width: 35px;

  @include at-query($three) {
    width: 33px;
  }

  @include at-query($four) {
    width: 35px;
  }
}

.company-name {
  padding: 10px;

  @include at-query ($three) {
    margin-top: -5px;
    position: absolute;
  }
}

.nav {
  text-align: center;
  padding: 8px 0;

  @include at-query ($three) {
    text-align: right;
  }
}

.nav-button {
  padding: 0 10px;
}

.contact-text {
  padding: 69px 0px 4px;
}

.down-box {
  background: $colorAccent;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.down-arrow {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 10px;
}

#expertise {
  @include at-query(696px) {
    padding: 45px 0 73px 0;
  }
}

.heading-line {
  width: 65px;
}

.specialty_content {
  @include at-query(696px) {
    padding-top: 8px;
  }
}

.specialty-diamond {
   /* display: block; 
  position: relative; */
  background-color: $colorAccent;
  overflow: hidden;
  width: 125px;
  height: 125px;
  margin: 30px auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  @include at-query(696px) {
    width: 155px;
    height: 155px;
  }

  @include at-query(900px) {
    width: 175px;
    height: 175px;
  }
}

.location1 {
  @include at-query($two) {
    margin-left: 147px;
  }

  @include at-query(696px) {
    margin-left: 111px;
  }

  @include at-query(900px) {
    margin-left: 86px;
  }
}

.location2 {
  @include at-query($two) {
    margin-left: 12px;
  }

  @include at-query(696px) {
    margin-left: 18px;
  }

  @include at-query(900px) {
    margin-left: 23px;
  }
}

.location3, .location4, .location5 {
  @include at-query($two) {
    margin-top: -64px;
  }

  @include at-query(696px) {
    margin-top: -72px;
  }

  @include at-query(900px) {
    margin-top: -80px;
  }
}

.location3 {
  @include at-query($two) {
    margin-left: 57px;
  }

  @include at-query(696px) {
    margin-left: 0px;
  }

  @include at-query(900px) {
    margin-left: -40px;
  }
}

.location5 {
  @include at-query($two) {
    margin-left: -2px;
  }

  @include at-query(696px) {
    margin-left: 25px;
  }

  @include at-query(900px) {
    margin-left: 44px;
  }
}

.img-position1 {
  width: 215%;
  margin: -30px 0px 0px -72px;

  @include at-query(696px) {
    margin: -50px 0px 0px -86px;
  }

  @include at-query(900px) {
    margin: -50px 0px 0px -92px;
  }
}

.img-position2 {
  width: 215%;
  margin: -75px 0px 0px -43px;

  @include at-query(900px) {
    width: 220%;
    margin: -92px 0px 0px -43px;
  }
}

.img-position3, .img-position4, .img-position5 {
  width: 225%;
  margin: -40px 0px 0px -72px;

  @include at-query(696px) {
    margin: -54px 0px 0px -90px;
  }

  @include at-query(900px) {
    width: 235%;
    margin: -59px 0px 0px -112px;
  }
}

.img-rotation {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate (-45deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;

  &:hover {
    opacity: 0.2;
  }
}

.content {
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  pointer-events: none;
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate (-45deg);
}

.c-position1 {
  top: 2%;

  @include at-query(696px) {
    top: 11%;
    left: 1%;
  }

  @include at-query(900px) {
    top: 12%;
    left: 1%;
  }
}

.c-position2, .c-position3 {
  left: 1%;
  top: 13%;

  @include at-query(696px) {
    top: 16%;
  }

  @include at-query(900px) {
    left: 2%;
    top: 17%;
  }
}

.c-position4 {
  left: 1%;
  top: 4%;

  @include at-query(696px) {
    left: 0%;
    top: 10%;
  }

  @include at-query(900px) {
    left: 1%;
    top: 11%;
  }
}

.c-position5 {
  top: 3%;
  left: -1%;

  @include at-query(696px) {
    top: 10%;
    left: 0%;
  }
}

.photo {
  /* display: block; 
  position: relative; */
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 30px auto 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  @include at-query(900px) {
    position: absolute;
  }
}

.uno {
  @include at-query(900px) {
    margin-left: 324px;
    margin-top: 1px;
  }
}

.dos {
  @include at-query(900px) {
    margin-top: 2px;
    margin-left: -62px;
  }
}

.tres {
  @include at-query(900px) {
    margin-top: -283px;
    margin-left: 325px;
  }
}

.cuatro {
  @include at-query(900px) {
    margin-top: -282px;
    margin-left: -61px;
  }
}

.client-face {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate (-45deg); 
}

.testimonials {
  background-color: $colorBGdark;
  padding: 45px 0 45px 0;

  @include at-query(900px) {
    padding: 45px 0px 88px 0px;
  } 
}

.light {
  border-bottom: 3px solid $colorWhite;
}

.testimonial {
  padding: 25px 30px 30px 30px;
  margin: 5px 20px 25px;

  @include at-query(412px) {
    margin: 5px 35px 25px;
  }

  @include at-query(470px) {
    margin: 5px 45px 25px;
  }

  @include at-query($three) {
    margin: 5px 20px 25px;
  }
}

.box1, .box3 {
  border: $colorAccent solid 2px;

  @include at-query($three) {
    margin: 5px 0px 20px 25px;
  }
}

.box1 {
  @include at-query(900px) {
    position: relative;
    right: -14px;
  }
}

.box3 {
  @include at-query($three) { /* Change box color layout for iPad and beyond */
    border: medium none;
    background-color: $colorAccent;
    border: $colorAccent solid 2px; /* Fix box sizing */
  }

  @include at-query(900px) { /* Move box for desktop view */ 
    position: relative;
    right: 20px;
    top: 6px;
  } 
}

.box2, .box4 {
  background-color: $colorAccent;

  @include at-query($three) {
    margin: 5px 20px 20px 0px;
    border: $colorAccent solid 2px; /* Fix box sizing for box2 */
  }
}

.box2 {
  @include at-query(900px) {
    position: relative;
    top: 30px;
    right: -16px;
  }
} 

.box4 {
  @include at-query($three) { /* Change box color layout for iPad and beyond */
    background-color: transparent;
    border: $colorAccent solid 2px;
  }

  @include at-query(900px) { /* Move box for desktop view */ 
    position: relative;
    right: 18px;
    top: 36px;
  } 
}

.whitebc {
  border-color: $colorWhite;
}

.darkbc {
  border-color: $colorBlack;
}

.mobile-whitebc {
  border-color: $colorWhite;

  @include at-query($three) {
    border-color: $colorBlack;
  }
}

.mobile-darkbc {
  border-color: $colorBlack;

  @include at-query($three) {
    border-color: $colorWhite;
  }
}

.heading-line-2 {
  border-width: 1px;
  border-style: solid;
  width: 50px;
  margin: 0;
  opacity: 0.7;
}

.goodbye {
  padding: 55px 0px;
}

#contact {
  background: $colorBGdark url("../../images/contact-1x.jpg");
  background-size: cover;
  background-position: center;
  padding: 70px 0px 0px;
}

.contact-content {
  text-align: center;
  padding-bottom: 43px;
}

.home-icon, .email-icon {
  width: 40px;
}

.phone-icon {
  width: 35px;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.raise {
  margin-top: -20px;
}

.up-arrow {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  padding: 10px;
}

.main-footer {
  background-color: $colorBGblack;
  padding: 70px 0 30px 0;
}

.social-icons {
  padding-bottom: 50px;  
}

.social {
  margin: 0 auto;
  list-style: none;
  text-align: center;

  .icon {
    display: inline-block;
    margin-right: 40px;
    border: 1px solid $colorWhite;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 11px 0 0 1px;

    .twitter-icon, .linkedin-icon {
      width: 15px;
    }
  }
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.copyright-align {
  vertical-align: 10%;
}

.protection {
  margin: 0;
  text-align: center;

  .protection-block {
    display: inline-block;
    margin-right: 30px;
  }
}





