/* ---------------------------- *\

    # Typography #

\* ---------------------------- */

body, 
html {
  font-family: $bodyText;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: $headerText;
}



h1, h5, h6, a {
  font-weight: 700;
  text-transform: uppercase;
  color: $colorWhite;
}

h2, h3, h4 {
  font-weight: 400;
}

.company-name {
  font-size: em(23px);
  text-transform: none;
  letter-spacing: 0.36px
}

.nav-button {
  letter-spacing: 0.08px;
  opacity: 0.8;
  font-size: em(16px);
}

.motto {
  font-size: em(37px);
  letter-spacing: 3.08px;
  line-height: 60px;
  margin-bottom: 0px;
}

.description {
  font-weight: 400;
  font-style: italic;
  font-size: em(17px);
  letter-spacing: 0.07px;
  line-height: 25px;
  color: #E5E5E5;
}

.contact-text {
  font-size: em(15px);
  text-transform: uppercase;
  letter-spacing: 0.08px;
  text-align: center;
  color: $colorWhite;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.title {
  font-size: em(32px);
  letter-spacing: 0.13px;
  text-align: center;
}

.content{
  text-transform: uppercase;
  font-size: em(16px);
  letter-spacing: 0.07px;
  line-height: 20px;
}

.white {
  color: $colorWhite;
}

.testimonial {
  
  .occupation {
  font-size: em(17px);
  opacity: 0.69;
  letter-spacing: 1.07px;
  }

  .client-name {
  font-size: em(18px);
  letter-spacing: 1.87px;
  margin-bottom: 16px;
  }
 
   .comment {
  font-size: em(20px);
  letter-spacing: 0.15px;
  line-height: 25px;
  }
}













