/* ---------------------------- *\

    # Typography #

\* ---------------------------- */

body, 
html {
  font-family: $bodyText;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: $headerText;
}



h1, h5, h6, a {
  font-weight: 700;
  text-transform: uppercase;
  color: $colorWhite;
}

h2, h3, h4 {
  font-weight: 400;
}

.company-name {
  font-size: em(23px);
  text-transform: none;
  letter-spacing: 0.36px;

  @include at-query($three) {
    font-size: em(21px);
  }

  @include at-query($four) {
    font-size: em(23px);
  }
}

.nav-button {
  letter-spacing: 0.25px;
  opacity: 0.8;
  font-size: em(15px);

  &:hover {
    opacity: 1;
  }

  @include at-query ($one) {
    font-size: em(16px);
  }

  @include at-query ($three) {
    font-size: em(17px);
    opacity: 1;

      &:hover {
      opacity: 0.85;
    }
  }

  @include at-query (750px) {
    font-size: em(18px);
  }
}

.motto {
  font-size: em(41px);
  letter-spacing: 3.08px;
  line-height: 60px;
  margin-bottom: 0px;

  @include at-query ($two) {
    font-size: em(52px);
    letter-spacing: 4.34px;
    line-height: 70px;
  }
}

.description {
  font-weight: 400;
  font-style: italic;
  font-size: em(18px);
  letter-spacing: 0.07px;
  line-height: 25px;
  color: #E5E5E5;
  max-width: 460px;
  
  @include at-query ($two) {
    padding-right: 80px;
  }

  @include at-query ($three) {
    font-size: em(20px);
    letter-spacing: 0.09px;
    padding: 0px 40px 0px 0px;
  }
}

.contact-text {
  font-size: em(15px);
  text-transform: uppercase;
  text-align: center;
  color: $colorWhite;
  font-weight: 700;
  letter-spacing: 0.7px;

  @include at-query ($two) {
    font-size: em(16px);
  }
}

.title {
  font-size: em(32px);
  letter-spacing: 0.13px;
  text-align: center;

  @include at-query($two) {
    font-size: em(36px);
    letter-spacing: 0.18px;
  }
}

.content{
  text-transform: uppercase;
  font-size: em(16px);
  letter-spacing: 0.07px;
  line-height: 20px;

  @include at-query(696px) {
    font-size: em(18px);
    letter-spacing: 0.09px;
  }

  @include at-query(900px) {
    font-size: em(20px);
  }
}

.white {
  color: $colorWhite;
}

.dark {
  color: $colorBlack;
}

.mobile-white {
  color: $colorWhite;

  @include at-query($three) {
    color: $colorBlack;
  }
}

.mobile-dark {
  color: $colorBlack;

  @include at-query($three) {
    color: $colorWhite;
  }
}

.testimonial {
  
  .occupation {
  font-size: em(18px);
  opacity: 0.70;
  letter-spacing: 1.07px;
  margin-top: 0px;
  margin-bottom: 2px;
  }

  .client-name {
  font-size: em(20px);
  font-weight: 400;
  letter-spacing: 2.09px;
  margin-top: 0px; 
  margin-bottom: 16px;
  }

  .heading-line-2 {
    margin-top: 15px;
  }
 
   .comment {
  font-size: em(20px);
  letter-spacing: 0.08px; 
  line-height: 30px;
  margin-bottom: -10px;
  }
}

.phrase {
  font-family: $headerText;
  /* Now that you’ve foun: */
  font-size: em(24px);
  letter-spacing: 0.04px;
  line-height: 44px;
  margin: 0px 6%;
  text-align: center;
}

.contact-block {
  font-size: em(20px);
  color: $colorWhite;
  letter-spacing: 0.08px;
  line-height: 26px;
  margin-top: 25px;
  padding: 0 40px;
}

.capitalize {
  font-weight: 400;
}

.protection-content {
  color: $colorWhite;
  font-size: em(18px);
  letter-spacing: 0.69px;
  margin: 5px 0;
}

/* ------------------------- *\

    # Gaming Law Page #

\* ------------------------- */

.toggle-description {
  font-family: $headerText;
  font-weight: 700;
  font-size: em(16px);
  text-transform: uppercase;
  letter-spacing: 0.08px;
  line-height: 20px;
  color: $colorWhite;
  padding: 0px 0px 0px 10px;
  margin: 1px 0px 0px 0px;

  @include at-query($one) {
    font-size: em(18px);
    line-height: 22px;
  }
}






