@mixin clearfix {
    &:before,&:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin at-query ($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@function em($target, $context: $baseFontSize) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}